@use "../../styles/variables/media-queries" as *;

// Styles overrides

.our_team {
    img {
        width: 125px;
        height: 125px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.bigger_image {
    @media #{$min-width-lg} {
        img {
            height: 450px;
        }
    }
}

.bigger_margin_text_and_image{
    img {
        margin-left: 750px;
        height: 350px;
        width: 350px;
    }
}

.not_that_big_margin_text_and_image{
    img {
        margin-left: 400px;
    }
}